GROUPDIR=/home/groups/l/li/linuxjm
CRONDIR=$GROUPDIR/jm.git/admin/cron

#MM  HH dd mm wday command
 33 */6  *  *  *   sg linuxjm $CRONDIR/webupdate.sh
  3   1 15  *  *   sg linuxjm $CRONDIR/webupdate-all.sh
