[submodule "manual/LDP_man-pages"]
	path = manual/LDP_man-pages
	url = git://git.sourceforge.jp/gitroot/linuxjm/LDP_man-pages.git
[submodule "manual/GNU_coreutils"]
	path = manual/GNU_coreutils
	url = git://git.sourceforge.jp/gitroot/linuxjm/coreutils.git
[submodule "manual/iptables"]
	path = manual/iptables
	url = git://git.sourceforge.jp/gitroot/linuxjm/iptables.git
