# pagename,#complete,#remaining,#all
cgroup_namespaces.7,19,26,45
ipc_namespaces.7,21,1,22
mount_namespaces.7,31,213,244
namespaces.7,90,68,158
network_namespaces.7,8,7,15
pid_namespaces.7,35,18,53
time_namespaces.7,11,50,61
user_namespaces.7,171,50,221
uts_namespaces.7,12,2,14
