# pagename,#complete,#remaining,#all
cgroup_namespaces.7,13,32,45
ipc_namespaces.7,16,6,22
mount_namespaces.7,22,222,244
namespaces.7,65,93,158
network_namespaces.7,7,8,15
pid_namespaces.7,32,21,53
time_namespaces.7,7,54,61
user_namespaces.7,135,86,221
uts_namespaces.7,7,7,14
