# pagename,#complete,#remaining,#all
cgroup_namespaces.7,14,31,45
ipc_namespaces.7,17,5,22
mount_namespaces.7,23,221,244
namespaces.7,66,92,158
network_namespaces.7,8,7,15
pid_namespaces.7,33,20,53
time_namespaces.7,8,53,61
user_namespaces.7,136,85,221
uts_namespaces.7,8,6,14
