#
# http://($MIRRORS.)www.linux.or.jp/JM/.htaccess
#
Options +Indexes

<Files .htaccess>
order deny,allow
deny from all
</Files>

AddType application/octet-stream rpm
AddType 'text/html; charset=iso-2022-jp' html
# EOF

