#
# http://($MIRRORS.)www.linux.or.jp/JM/.htaccess
# $Id: .htaccess,v 1.4 2000/09/01 08:34:06 nakano Exp $
#
Options +Indexes

<Files .htaccess>
order deny,allow
deny from all
</Files>

AddType application/octet-stream rpm
AddType 'text/html; charset=iso-2022-jp' html
# EOF

