div.mirror-navigator {
	text-align: right;
	font-size: small;
}

div.copyright {
	text-align: right;
	font-family: Helvetica, Arial, sans-serif;
	font-size: smaller;
	color: rgb(40%,40%,40%)
}

div.obsolete {
    padding: 2px 5px 2px 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 18px;
    position: fixed;
    top: 1px;
    right: 0px;
    width: 25em;
    font-size: 75%;
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    border-radius: 4px;
    border: 1px solid #fbefd5;
}

div#googlesearch {
    width: 30em;
}

/* for narrower devices */
@media (max-width:30em) {
	div#googlesearch { width: 100%;}
}

body {
        background: lightcyan; /* BEIGE; */
	color: black;
	margin-left: 3%;
	margin-right: 3%;
}

h1 {
	background-color: powderblue;
	text-align: center;
        border-style: inset;
        border-width: 0 3 3 0;
        border-color: #000;
}

h2 {
	background-color: powderblue;
        border-style: inset;
        border-width: 0 2 2 0;
        border-color: #000;
}

h3 {
	background-color: powderblue;
        border-width: 0 0 1 0;
        border-color: #000;
}

p {
	text-indent: 0em;
}

p.indent {
	text-indent: 1em;
}

p.noindent {
	text-indent: 0em;
}

strong {
	font-weight: bold;
}

dl dd {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

ul li {
	padding-bottom: 0.3em;
}

pre {
	padding: 0.3em;
	background: #dddddd;
}

.gsc-control-cse {
        background-color: lightcyan !important;
        border: 0em !important;
        padding: 0em !important;
}

/* 'man on WWW' form */
	table.searchbox {
		max-width:100%;
		margin: 1em 2%;
	}

	table.searchbox th {
		text-align: left;
		vertical-align: top;
		word-break: keep-all;
		font-weight: bold;
		font-family: sans-serif;
	}

	input[name="Pagename"] { width:30em; }
	@media (max-width:30em) {
		input[name="Pagename"] { width:100%; }
	}

/* Local configs for browsing locally downloaded files */
@import url(local.css)

/* EOF */
