/* $Id: jm.css,v 1.8 2003/05/26 05:57:31 tsekine Exp $ */

div.mirror-navigator {
	text-align: right;
	font-size: small;
}

div.copyright {
	text-align: right;
	font-family: helvetica, sans-serif;
	font-size: smaller;
	color: rgb(40%,40%,40%)
}

body {
	background: BEIGE;
	color: black;
	margin-left: 3%;
	margin-right: 3%;
}

h1 {
	background-color: gold;
	text-align: center;
        border-style: inset;
        border-width: 0 3 3 0;
        border-color: #000;
}

h2 {
	background-color: gold;
        border-style: inset;
        border-width: 0 2 2 0;
        border-color: #000;
}

h3 {
	background-color: gold;
        border-width: 0 0 1 0;
        border-color: #000;
}

p {
	text-indent: 0em;
}

p.indent {
	text-indent: 1em;
}

p.noindent {
	text-indent: 0em;
}

strong {
	font-weight: bold;
}

dl dd {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

ul li {
	padding-bottom: 0.3em;
}

/* as of now, @import has not implemented in NN4 nor IE3-4 */
@import url(local.css)

/* EOF */

