# Created by genmancfg.sh, 2026-09-21,
# with argument(s): 
[po4a_langs] ja
[po4a_paths] po4a/man1/rsync-man1.pot $lang:po4a/man1/$lang.po
[po4a_alias: man] man opt:"-v --previous" opt_ja:"-M UTF-8"

[type: man] original/man1/rrsync.1 $lang:draft/man1/rrsync.1 \
	add_$lang:?po4a/add_$lang/copyright/man1/rrsync.1.txt

[type: man] original/man1/rsync-ssl.1 $lang:draft/man1/rsync-ssl.1 \
	add_$lang:?po4a/add_$lang/copyright/man1/rsync-ssl.1.txt

[type: man] original/man1/rsync.1 $lang:draft/man1/rsync.1 \
	add_$lang:?po4a/add_$lang/copyright/man1/rsync.1.txt
